/node_modules/
/dist/
!.prettierrc.js
!.eslintrc.js
# zero-installs OFF: see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions